rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2020, 11, 21);
    }

    match /{document=**} {
      allow read: if request.auth.token.admin == true;
    }

    match /residents/{residentID} {
      allow read: if request.auth.uid == residentID;
      allow write: if request.auth.token.admin == true
          && request.resource.data.keys().hasAll(['birthDate', 'firstName', 'gender', 'isActive', 'lastName', 'telephone'])
          && request.resource.data.birthDate is timestamp
          && request.resource.data.firstName is string
          && request.resource.data.gender is string
          && request.resource.data.isActive is bool
          && request.resource.data.lastName is string
          && request.resource.data.telephone is string
          && request.resource.data.telephone.matches('^\\d{10}$');

      match /reports/{reportID} {
        allow write: if (request.auth.token.admin == true || request.auth.token.psy == true)
          && request.resource.data.keys().hasAll(['comments', 'date', 'feltLonely', 'health', 'mood', 'wasAngry', 'wasDepressed', 'wellFed', 'wellRested'])
          && request.resource.data.comments is string
          && request.resource.data.date is timestamp
          && request.resource.data.feltLonely is bool
          && request.resource.data.health is int
          && request.resource.data.health >= 1
          && request.resource.data.health <= 5
          && request.resource.data.mood is int
          && request.resource.data.mood >= 1
          && request.resource.data.mood <= 5
          && request.resource.data.wasAngry is bool
          && request.resource.data.wasDepressed is bool
          && request.resource.data.wellFed is bool
          && request.resource.data.wellRested is bool;
      }
    }
  }
}
